body {
    font-family: Arial, Helvetica, sans-serif
}


.div-main {
    display: flex;
}

/*  1 ROW ELEMENTS  */

.div-1row {
    text-align: center;
}

.div-1row > p {
    color: #565959;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
}

/*  2 ROW ELEMENTS  */

.title {
    font-weight: lighter;
}


