body {
    font-family: Arial, Helvetica, sans-serif
}


.div-main {
    display: flex;
}

/*  1 ROW ELEMENTS  */

.div-1row {
    text-align: center;
    padding: 10px 30px;
}


.div-1row > p {
    color: #565959;
    font-size: x-small;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    height: 90vh;
}

/*  2 ROW ELEMENTS  */

.div-2row {
    padding: 20px;
}

.title {
    font-weight: lighter;
}


